
<h3>All sections</h3>



<%= link_to 'sections', new_section_path %>
  <table style="width:90%" border="5" bordercolor="blue">
    <tr>
      <thead align="left">
      <th align= "right">id</th>&emsp;&emsp;
      <th align= "right">page_id</th>&emsp;&emsp;
      <th align= "right">name</th>&emsp;&emsp;
      <th align= "right">position</th>&emsp;&emsp;&emsp;
      <th align= "right">visible</th>&emsp;&emsp;
      <th align= "right">content_type</th>&emsp;&emsp;
      <th align= "right">content</th>
      <th align= "right">Action</th>
    </thead>

    </tr>
    <% @sections.each do |i| %>
    <tr>
        <td> <%= i.id %></td>
        <td> <%= i.page_id %></td>
        <td> <%= i.name %></td>
        <td> <%= i.position %></td>
        <td> <%= i.visible %></td>
        <td> <%= i.content_type %></td>
        <td> <%= i.content %></td>

        <td><%= link_to 'show', section_path(i) %>
        <%= link_to 'edit', edit_section_path(i) %>
        <%= link_to 'delete', section_path(i), method: :delete %>
        </td>

    </tr>
    <% end %>

</table>
