<h3> new page</h3><br>

<%= form_for(@page) do |f| %>

  <%  if @page.errors.any? %>
    <ul>
        <%= @page.errors.full_messages.each do |msg| %>
          <li><%= msg %>
        <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :subject_id %><br>
    <%= f.select :subject_id, options_for_select(Subject.all.map { |e| [e.name, e.id]}), class: 'form-control' %>
  </div>



  <div class="form-group">
    <%= f.label :name%><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :permalinke%><br>
    <%= f.text_field :permalink, class: 'form-control' %>
  </div>




  <div class="form-group">
    <%= f.label :position%><br>
    <%= f.number_field :position ,class: 'form-control' %>
  </div>



  <div class="form-group form-check">

    <%= f.check_box :visible, class: 'form-check-input' %>
    <%= f.label :visible%><br>
  </div><br>

    <%= f.submit "save" , class: 'btn btn-primary' %>
<% end %>
