

<h1>All subjects</h1>
<%= link_to(' home ',{controller:'home',action:'index'}) %><br><br>
<%= link_to 'add new subject record' ,new_subject_path %>


<table style="width:50%">
<tr>
   <th>id</th>
   <th>name</th>
   <th>position</th>
   <th>visible</th>
</tr>
 <% @subjects.each do |i| %>
 <tr>
  <td> <%= i.id %></td>
  <td> <%= i.name %></td>
  <td> <%= i.position %></td>
  <td> <%= i.visible %></td>
  <td><%= link_to 'show', subject_path(i) %>
  <%= link_to 'edit', edit_subject_path(i) %>
  <%= link_to 'delete', subject_path(i), method: :delete %>
  </td>

 </tr>
 <% end %>

</table>
